@media only screen and (max-width:1199px) {
    .navbar-brand .atoz_seo_tools_logo.lg-logo {
        width: 150px;
    }
    .navbar-nav {
        padding: 15px 0;
    }
    .login-wrap li a i {
        left: -7px;
    }
    .navbar-nav>li>a {
        font-size: 14px;
        padding: 20px 8px;
        font-weight: 500;
    }
    .mr5px {
        margin-right: 10px;
    }
    .tool-section {
        margin-top: 0;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .head-title h3 {
        font-size: 35px;
        margin: 0 0 8px;
    }
    /* .nav-tabs>li {
        width: 127px;
    } */
    .nav-tabs>li>a,
    .tab-content ul li a {
        font-size: 13px;
        padding: 15px 5px;
    }
    .head-title p {
        font-size: 16px;
    }
    .client-sec {
        padding: 20px 0;
    }
    .owl-carousel-wrap {
        padding: 30px 0 60px;
    }
    .head-title p {
        margin: 0 0 20px;
    }
    .client-sec .item p {
        margin: 0 0 20px;
        font-size: 14px;
    }
    .client-sec .item strong {
        font-size: 17px;
        margin: 0 0 10px;
    }
    .mb {
        margin: 0 0 60px;
    }
    .footer-nav ul a,
    .abt-block p {
        font-size: 13px;
    }
    .footer-nav ul li {
        margin: 0 0 8px;
    }
    .footer-menu,
    .abt-block,
    .contact-form {
        padding: 0 1%;
    }
    .b-widgets h3 {
        font-size: 18px;
        font-weight: 700;
        margin: 10px 0 12px;
    }
    .b-widgets {
        padding: 15px 0 25px;
    }
    .primary-footer {
        padding-bottom: 40px;
        padding-top: 35px;
    }
    .seobannerh1 {
        font-size: 30px;
    }
    .premiumBox h2 {
        font-size: 20px;
    }
    .reviews-sec {
        padding: 30px 0 20px;
    }
}

@media only screen and (max-width:991px) {
    .navbar-brand .atoz_seo_tools_logo.lg-logo {
        width: 80px;
    }
    .navbar-nav {
        padding: 10px 0;
    }
    .login-wrap li a i {
        top: 13px;
    }
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: -15px;
    }
    .navbar-brand {
        padding: 0 15px;
    }
    .navbar-nav>li>a {
        font-size: 12px;
        padding: 8px 6px;
    }
    .navbar-right>li {
        padding: 0 4px;
    }
    .navbar-nav {
        margin: 0 0 0 12px;
    }
    .nav-tabs>li {
        width: 95px;
    }
    /* .nav-tabs [class^="icon-"],
    .nav-tabs [class^="icon-"]::after {
        height: 54px;
        width: 54px;
        -webkit-background-size: 60px 1320px;
        background-size: 60px 1320px;
    }
    .icon-seo {
        background-position: -5px 0px;
    }
    .icon-seo-ana {
        background-position: -5px -74px;
    }
    .icon-seo-opti {
        background-position: -5px -149px;
    }
    .icon-seo-analysis {
        background-position: -5px -221px;
    }
    .icon-web-value {
        background-position: -5px -301px;
    }
    .icon-web-secure {
        background-position: -5px -379px;
    }
    .icon-ad-seo {
        background-position: -4px -460px;
    } */
    .nav-tabs>li>a {
        padding: 15px 2px;
        font-size: 11px;
    }
    .tab-content ul li a {
        font-size: 13px;
    }
    .inner-tab-content {
        padding: 20px 0;
    }
    .client-sec .item p {
        font-size: 13px;
    }
    .owl-carousel .owl-nav .owl-prev {
        left: -10px;
    }
    .owl-carousel .owl-nav .owl-next {
        right: -10px;
    }
    .owl-carousel-wrap {
        padding: 30px 0 35px;
    }
    .circle-box {
        margin: 0 auto 16px;
    }
    .inner-client-blk h4 {
        font-size: 16px;
    }
    .client-sec p {
        font-size: 14px;
    }
    .mb {
        margin: 0 0 30px;
    }
    .inner-client-blk {
        padding: 0;
    }
    .copy-txt,
    .copy-txt a {
        font-size: 14px;
    }
}

@media only screen and (max-width:767px) {
    .tab-content .tool-listing{
        width:100%;
    }
    .tab-content .tool-listing:after,.tab-content .tool-listing:nth-child(5n):after{
        display: block;
        height: 1px;
        right: 0;
        width: 90%;
        left: 0;
        top: inherit;
        bottom:0;
        margin: 0 auto;
    }
    .tab-content .tool-listing:before{
        display: none;
    }
    .tab-content ul {
        display: block;
    }
    .tab-content ul li,
    .tab-content ul:last-child li {
        display: block;
        width: 100%;
        padding: 10px 4%;
        border-width: 0 0 1px;
    }
    .tab-content ul li::before,
    .tab-content ul li::after {
        display: none;
    }
    .seobannerh1 {
        font-size: 24px;
        line-height: 1.4;
        margin: 0 0 10px;
    }
    .premiumBox h2 {
        font-size: 14px !important;
        font-weight: 400;
        line-height: 1.5;
    }
    .premiumBox h2 {
        margin: 0 0 20px;
    }
    .search-box {
        padding: 5px;
    }
    .input-group .form-control {}
    .navbar-nav {
        float: none;
        margin: 0;
        padding: 10px 0;
    }
    .nav>li {
        text-align: center;
    }
    .login-wrap {}
    .navbar-nav {
        background: #6dcef5;
    }
    .navbar-collapse {
        box-shadow: inherit;
    }
    .navbar-nav>li>a {
        display: inline-block;
    }
    .login-wrap {
        display: none;
    }
    .navbar-nav>li:hover>a::before,
    .navbar-nav>li.active>a::before,
    .navbar-nav>li.open>a::before,
    .navbar-nav>li:active>a::before {
        display: none;
    }
    .navbar-nav>li:hover>a,
    .navbar-nav>li.active>a,
    .navbar-nav>li.open>a,
    .navbar-nav>li:active>a {
        opacity: 0.8;
    }
    .navbar-default .navbar-toggle {
        border-color: #6dcef5;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #6dcef5;
    }
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0;
    }
    .navbar-brand {
        padding: 0 15px;
    }
    .navbar-brand .atoz_seo_tools_logo.lg-logo {
        width: 112px;
    }
    .btn-list .btn {
        font-size: 14px;
        line-height: 40px;
        padding: 0 20px;
    }
    .btn-list li {
        margin: 0 5px;
    }
    .btn-list .btn {
        font-size: 14px;
        line-height: 40px;
        min-width: 122px;
        padding: 0 10px;
        min-width: 130px;
    }
    .tool-section {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .head-title h3 {
        font-size: 26px;
    }
    .client-sec {
        padding: 10px 0;
    }
    .head-title p {
        font-size: 14px;
        margin: 0 0 10px;
    }
    .mb {
        font-size: 20px;
    }
    .footer {
        margin-top: 0;
    }
    .primary-footer {
        padding-bottom: 15px;
        padding-top: 10px;
    }
    .primary-footer h3,
    .primary-footer p,
    .contact-form h3,
    .footer-nav ul li {
        text-align: center !important;
    }
    .bl {
        min-height: inherit;
    }
    .primary-footer .row-item {
        display: block;
    }
    .secondary-footer {
        border-top: 0;
        padding-top: 0;
    }
    .copy-txt {
        display: block;
        font-size: 14px;
        text-align: center;
    }
    .f-social-links {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .scrollToTop {
        bottom: 15px;
    }
    .search-box .input-group-btn {
        top: 10px;
    }
    .tab-section .nav-tabs {
        overflow-x: scroll;
        position: relative;
        white-space: nowrap;
    }
    .nav-tabs>li {
        display: inline-block;
        float: none;
    }
    .tab-section .nav-tabs {
        padding: 0;
        font-size: 0;
    }
    .tab-section .nav-tabs::before,
    .tab-section .nav-tabs::after {
        display: none;
    }
    .login-wrap.m-login-wrap {
        display: block;
    }
}