.hide{
    display: none;
}
.outBox {    
    background-color: #ffffff;
    border: 1px solid #c3e8f4;
    box-shadow: 0 0 0 4px #f0fbff;
    box-sizing: border-box;
    color: #111111;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 100%; 
    height: 270px; 
    padding: 15px ! important;
}
.tooltipBox {
    min-height: 50px;
    min-width: 100px;
    position: absolute;
    z-index: 6000;
    display: none;
}
.tooltipBody {
    background: #46B0CF none repeat scroll 0 0;
    box-shadow: 0 0 0 4px #f0fbff;
    box-sizing: border-box;
    border-radius: 10px;
    color: #000;
    font-size: 12px;
    line-height: 18px;
    max-width: 350px;
    min-height: 100px;
    min-width: 280px;
    padding: 10px;
}
.tooltipBody .word {
    color: #060d8e;
    cursor: pointer;
    display: inline-block;
    padding: 0 5px 0 0;
    text-decoration: underline;
}
.tooltipBody .word:hover {
    color: #ecf0f1;
}
#closeTip{
    float:right; 
    display:block; 
    margin:5px 10px -40px 0; 
    color:#fff; 
    font-weight:bold; 
    cursor:pointer;
}
.tipsBox{
    font-weight: bold;
    cursor: pointer;
}
.tipsBox:hover{
    font-weight: bold;
    text-decoration: underline;
    -moz-text-decoration-color: #f1c40f;
    text-decoration-color: #f1c40f;
    cursor: pointer;
}
.tooltipBody hr{
    margin-bottom: 10px;
    margin-top: 10px;
}
.customButton {
    background: #ddd none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 22px;
    line-height: 20px;
    padding: 0 5px;
    text-align: center;
}
.processingBox{
    background-color: #ecf0f1;
}
#step2 .loader {
    background: #ebebeb none repeat scroll 0 0;
    border: 1px solid #ccc;
    left: 300px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 150px;
    z-index: 20;
}
#crumbs{
    margin-bottom: 5px;
    margin-top: 20px;
}
#crumbs ul {
		list-style: none;
		display: inline-table;
	}
#crumbs ul li {
display: inline;
}

#crumbs ul li a {
display: block;
float: left;
height: 40px;
background: #3498db;
text-align: center;
padding: 15px 20px 0 40px;
position: relative;
margin: 0 5px 0 0; 

font-size: 13px;
text-decoration: none;
color: #fff;
}
#crumbs ul li a:after {
content: "";  
border-top: 20px solid transparent;
border-bottom: 20px solid transparent;
border-left: 20px solid #3498db;
position: absolute; right: -20px; top: 0;
z-index: 1;
}

#crumbs ul li a:before {
content: "";  
border-top: 20px solid transparent;
border-bottom: 20px solid transparent;
border-left: 20px solid #d4f2ff;
position: absolute; left: 0; top: 0;
}

#crumbs ul li:first-child a {
	border-top-left-radius: 10px; border-bottom-left-radius: 5px;
}
#crumbs ul li:first-child a:before {
	display: none; 
}

#crumbs ul li:last-child a {
	padding-right: 40px;
	border-top-right-radius: 10px; border-bottom-right-radius: 5px;
}
#crumbs ul li:last-child a:after {
	display: none; 
}
.crumbsactive {
    background: #fa5ba5 !important;
}
.crumbsactive:after {
	border-left-color: #fa5ba5 !important;
}