body, html {
    height: 100%;
    color: #6d6d6d;
}

a {
    color: #17C3B9;
}

a:hover {
    color: #17C3B9;
}

.main {
    background: #17C3B9;
    padding: 100px 0;
}

.main a {
    color: #fff;
    opacity: .7;
}

.main a:hover {
    color: #fff;
    opacity: 1;
}

.page-text {
    text-align: center;
    color: #fff;
}

.page-text .rotate {
    font-size: 9em;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 0px;
}

.page-text span {
    font-size: 22px;
    text-transform: uppercase;
}

.search-form-container {
    margin: 50px 0 50px;
}

.search-form-container input[type="text"] {
    width: 60%;
    padding: 14px 60px 15px 30px;
    border: none;
    color: #17C3B9;
    font-size: 18px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -o-border-radius: 45px;
    border-radius: 45px;
}

.search-form-container input[type="text"]:focus {
    outline: 0;
    background: #fff;
}

.search-form-container input[type="submit"] {
    background: #17C3B9;
    font-size: 16px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    border: none;
    padding: 11px;
    left: 10px;
    margin-left: -66px;
    position: relative;
    opacity: .7;
}

.search-form-container input[type="submit"]:focus {
    outline: 0;
    opacity: 1;
}

.search-form-container input[type="submit"]:hover {
    background: #17C3B9;
    opacity: 1;
}

.footer {
    margin-top: 20px;
}

.social {
    padding: 0;
    list-style: none;
    font-size: 1.3em;
}

.social li {
    float: left;
    width: 40px;
    text-align: center;
    margin-right: 6px;
    margin-bottom: 6px;
}

.social li a i {
    color: #fff;
    border: 1px solid #17C3B9;
    padding: 10px 0;
    display: block;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}

.social li a i:hover {
    color: #fff;
    background: #17C3B9;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    float: left;
    margin: 10px 10px 20px 0px;
}

.menu li a {
    padding: 10px 15px;
    border: 1px solid #17C3B9;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    text-transform: uppercase;
}

.menu li a:hover {
    background: #17C3B9;
    color: #fff;
    text-decoration: none;
}

.copyright {
 margin: 0px 5px 15px;
    font-size: .9em;
}

body {
    font-family: 'Lato', sans-serif;
}

[class^="icon-"], [class^="icon-"]:after {
    background-image: url(../img/new-images/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    width: 55px;
    height: 55px;
}

.tab-section [class^="icon-"], .tab-section [class^="icon-"]:after {
    display: block;
    margin: 0 auto 10px;
}

.icon-seo {
    background-position: -12px -12px;
}

.icon-meta {
    background-position: -7px -203px;
}

.icon-seo-ana {
    background-position: -14px -112px;
}

.icon-seo-analysis {
    background-position: -15px -311px;
}

.icon-seo-opti {
    background-position: -14px -212px;
}

.icon-web-value {
    background-position: -14px -417px;
}

.icon-seo-check {
    background-position: -10px -800px;
}

.icon-ad-seo {
    background-position: -11px -628px;
}

.icon-web-secure {
    background-position: -13px -517px;
}

.icon-backlink {
    background-position: -10px -892px;
}

.icon-word {
    background-position: -10px -982px;
}

.icon-domain {
    background-position: -10px -1072px;
}

.icon-circle-1 {
    background-position: -10px -1170px;
}

.icon-circle-2 {
    background-position: -10px -1371px;
}

.icon-circle-3 {
    background-position: -10px -1538px;
}

.icon-circle-4 {
    background-position: -10px -1758px;
}

.icon-circle-5 {
    background-position: -10px -1950px;
}

.icon-circle-6 {
    background-position: -10px -2140px;
}

.header-wrapper {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background: none;
    padding: 20px 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 999;
}

.header-wrapper.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: #3c4764;
    padding: 5px 0;
    -webkit-box-shadow: 0 2px 12px rgba(60, 71, 100, 0.4);
    -moz-box-shadow: 0 2px 12px rgba(60, 71, 100, 0.4);
    -o-box-shadow: 0 2px 12px rgba(60, 71, 100, 0.4);
    box-shadow:0 2px 12px rgba(60, 71, 100, 0.4);
}
/* .header-wrapper.sticky .login-wrap {
    display: none;
} */
/* .header-wrapper.sticky .navbar-nav {
    padding: 15px 0 10px;
} */

.header-wrapper.sticky .navbar-nav>li>a.contact-btn {
    border: 1px solid #ffffff;
}

.header-wrapper.sticky .navbar-default {
    margin: 0;
}

.header-wrapper.sticky .navbar-nav>li:hover>a::before, .header-wrapper.sticky .navbar-nav>li.active>a::before, .header-wrapper.sticky .navbar-nav>li.open>a::before, .header-wrapper.sticky .navbar-nav>li:active>a::before {
    background: #ffffff;
}

.header-wrapper .navbar-default {
    background: none;
    border: 0;
}
.navbar-right>li {
    padding: 0 2px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.masthead {
    background: url('../img/new-images/banner.jpg') no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    padding: 185px 0 135px;
    height: auto;
    position: relative;
}

.section-scroll {
    background: rgba(0, 0, 0, 0) url("../img/new-images/mouse.png") no-repeat scroll center center;
    bottom: 30px;
    height: 36px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 25px;
}

.search-box {
    position: relative;
}

.search-box .input-group-btn {
    position: absolute;
    right: 25px;
    z-index: 99;
    height: 35px;
    width: 35px;
    top: 16px;
}

.search-box .input-group {
    padding: 8px 60px 5px 10px !important;
}

.search-box .input-group-btn .btn-primary {
    background: url("../img/new-images/search-icon.png") no-repeat scroll center center;
    background-size: contain;
    -webkit-background-size: contain;
    height: 35px;
    width: 35px;
    outline: none;
    background-color: transparent;
    height: 35px;
    left: 0;
    outline: medium none;
    top: -4px;
    width: 35px;
    box-shadow: inherit;
}

.seobannerh1 {
    font-size: 42px;
    font-weight: 400;
    margin: 0 0 20px 0;
    line-height: 1;
}

.premiumBox h2 {
    color: #ffffff !important;
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 53px;
    line-height: 1.4;
    margin: 0 auto 40px;
    max-width: 740px;
}

.premiumBox h2 strong {
    font-weight: 700;
    text-transform: uppercase;
}

.reviewBox {
    padding: 5px;
    border: 1px solid rgba(190, 191, 191, 0.7);
    width: 95%;
    margin: 0 auto 35px;
}

.input-group-btn .btn {
    background: url('../img/new-images/search-icon.png') no-repeat;
    padding: 0;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.input-group-btn.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary.hover {
    background: none
}

#rightCol {
    display: none;
}

.tab-section {
    background-image: url('../img/new-images/tab-banner.jpg');
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: rgba(0, 141, 197, 0.25);
}

.nav-tabs {
    border-bottom: 0 none;
    padding: 0 25px;
}

.nav-tabs>li {
    padding: 0;
    text-align: center;
    margin: -2px 0px;
    width: 155px;
}

.nav-tabs>li a i {
    background-color: #6dcef5;
    border-radius: 8px;
}

.nav-tabs>li>a, .tab-content .tool-listing a {
    font-size: 15px;
    color: #232323;
    margin: 0;
    border-radius: 0;
    background: none;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 20px 15px 28px;
    letter-spacing: .2px;
}

.tab-content .tool-listing a {
    color: #fff;
    background: transparent;
    padding: 0;
    padding: 25px 7%;
    display: block;
    
}

.tab-content .tool-listing a i {
    margin: 0 auto 10px !important;
}


.tab-content ul:last-child li::before {
    display: none;
}

.tab-content ul:last-child li:last-child {
    border-width: 0 0px 0 0;
}

.nav-tabs>li.active a i {
    background-color: inherit;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border: 0;
    margin: 0;
    color: #fff;
    background: transparent;
}

.tab-content {
    padding: 0 15px;
}

.tab-content .seotools {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
   /*  justify-content: center; */
}

.tab-content .tool-listing {
    width: 20%;
    text-align: center;    
    position: relative;
}
.tab-content .tool-listing:before,.tab-content .tool-listing:after{
    content:"";
    background: #fff;    
    position: absolute;
}
.tab-content .tool-listing:before {
    height: 1px;
    right: 0;
    width: 90%;
    left: 0;
    top: 0;
    margin: 0 auto;
}

.tab-content .tool-listing:after {
    height: 86%;
    right: 0;
    width: 1px;
    top: 10px;
    bottom: 0;
    margin: 0 auto;
}

.tab-content .tool-listing:nth-child(5n):after,.tab-content .tool-listing:nth-child(-n+5):before,.tab-content .tool-listing:last-child:after{
    display: none;
}
.tool-listing img.seotoolimg {
    filter: invert(1);
}

.masthead {
    margin-bottom: 0;
}

.tool-section {
    padding-top: 65px;
    padding-bottom: 65px;
}

.head-title h3 {
    font-size: 44px;
    color: #3c4764;
    font-weight: 700;
    margin: 0 0 8px;
}

.head-title h3 strong {
    font-weight: 900;
}

.tool-section h3 strong {
    font-weight: 900;
}

.inner-tab-content {
    padding: 35px 0;
}

.navbar-brand {
    height: auto;
}

.navbar-nav {
    float: right;
   /*  margin: 0 0 0 40px;
    padding: 21px 0 10px; */
}

.navbar-nav>li>a {
    padding: 22px 15px 20px;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.3s ease;
    position: relative;
}
.mr5px{
    margin-right: 20px;
}

.seobannerBig {
    margin-top: 0;
}

.premiumBox h2 strong {
    font-weight: 700px;
}

.btn-list .btn {
    background: #6dcef5;
    transition: all 0.3s ease;
}

.btn-list .btn {
    line-height: 60px;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0 15px;
    border-radius: 0;
    border: 1px solid #6dcef5 !important;
    min-width: 200px;
}

.btn-list {
    padding: 0;
    text-align: center;
    list-style-type: none;
}

.btn-list li {
    display: inline-block;
    margin: 0 15px;
}

.btn-list li .btn.secondary-btn {
    background: transparent;
}

.btn-list .btn.btn-default:active, .btn-list .btn.btn-default.hover {
    color: #6dcef5;
    background: transparent;
}

.navbar-nav>li:hover>a, .navbar-nav>li.active>a, .navbar-nav>li.open>a, .navbar-nav>li:active>a {
    border-top: 3px solid transparent;
}

.navbar-nav>li:hover>a:before, .navbar-nav>li.active>a:before, .navbar-nav>li.open>a:before, .navbar-nav>li:active>a:before {
    content: "";
    /* background: ; */
    height: 1px;
    background: #6dcef5;
    width: 35px;
    position: absolute;
    left: 0;
    bottom: 10px;
    right: 0;
    margin: 0 auto;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
}

.navbar-nav>li:hover>a.contact-btn::before, .navbar-nav>li.active>a.contact-btn::before, .navbar-nav>li.open>a.contact-btn::before, .navbar-nav>li:active>a.contact-btn::before {
    display: none;
}

.navbar-nav>li>a.contact-btn {
    border: 2px solid #65cbf4;
    border-radius: 25px;
}

.inner-client-blk {
    padding: 0 8%;
    text-align: center;
    margin: 0 0 25px;
}

/* .login-wrap li {
    padding: 0 8px;
} */

.login-wrap li a {
    padding:22px 15px 20px;
}

.login-wrap li a i {
    left: -5px;
    position: absolute;
    top: 23px;
}
.header-wrapper .navbar-nav>li{
    margin:0
}

.circle-box {
    width: 110px;
    height: 110px;
    margin: 0 auto 33px;
    border: 2px solid #6dcef5;
    border-radius: 50%;
    position: relative;
    line-height: 110px;
    text-align: center;
    background: #fff;
}

.inner-client-blk p {
    color: #4e4e4e;
    font-size: 16px;
}

.inner-client-blk h4 {
    font-size: 22px;
    color: #3c4764;
}

.reviews-sec {
    padding: 75px 0 30px;
    background-color: #f7f7f7;
}

.client-sec p {
    color: #4e4e4e;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.head-title p {
    font-size: 20px;
    margin: 0 0 30px 0;
    font-weight: 300;
    color: #232323;
}
.navbar-brand{
    padding:0
}
.owl-carousel-wrap .item {
    text-align: center;
    padding: 0 8%;
}

.client-sec .item p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 40px 0;
}

.mb {
    margin: 0 0 75px;
}

.owl-carousel-wrap {
    padding: 20px 0 75px;
}

.client-sec .item strong {
    display: block;
    font-size: 17px;
    font-weight: 700;
    color: #6dcef5;
    font-style: italic;
    margin: 0 0 25px;
}

.circle-box i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-43%, -50%);
}

.owl-carousel-wrap figure {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 auto 30px;
    position: relative;
}

.owl-carousel-wrap figure:before {
    content: "";
    width: 25px;
    height: 20px;
    display: block;
    position: absolute;
    left: -36px;
    top: 0;
    background: url("../img/new-images/quote.png") no-repeat scroll center center;
    background-size: auto;
    -webkit-background-size: auto;
}

.primary-footer {
    padding-top: 35px;
    padding-bottom: 64px;
}

.b-widgets {
    background: #3c4764;
}

.footer-nav ul {
    padding: 0;
    list-style-type: none;
}

.footer-nav ul li {
    margin: 0 0 10px;
}

.footer-nav ul a, .abt-block p {
    font-size: 15px;
    line-height: 1.6;
    color: #808ba8;
}

.footer-nav ul a, .f-social-links a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.b-widgets h3 {
    font-size: 23px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    margin: 26px 0 12px;
}

.contact-form .form-control {
    background: transparent;
    border-width: 0 0 1px 0;
    border-color: #616e90;
    border-style: solid;
    border-radius: inherit;
    box-shadow: inherit;
    box-sizing: border-box;
    color: #bdc0ca;
    padding: 5px 3px;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    resize: vertical;
}

.contact-form .form-control::-webkit-input-placeholder {
    color: #bdc0ca !important;
}

.contact-form .form-control::-moz-placeholder {
    color: #bdc0ca !important;
}

.contact-form .form-control:-ms-input-placeholder {
    color: #bdc0ca !important;
}

.contact-form .form-control:-moz-placeholder {
    color: #bdc0ca !important;
}

.textarea-blk textarea {
    height: auto;
    resize: none;
    color: #bdc0ca;
    font-size: 16px;
    font-weight: 300;
    max-height: inherit;
}

.btn.send-btn {
    color: #6dcef5;
    font-size: 16px;
    background: transparent;
    border: 1px solid #6dcef5 !important;
    box-shadow: inherit;
    border-radius: 25px;
    min-width: 100px;
    padding: 8px 17px;
    text-align: left;
    text-transform: uppercase;
    position: relative;
}

.btn.send-btn i {
    color: #6dcef5;
    position: relative;
    top: inherit;
    left: inherit;
    margin: 0 0 0 5px;
}

.btn.send-btn:hover, .btn.send-btn.send-btn:active, .btn.send-btn.hover {
    color: #fff;
}

.btn.send-btn:hover i, .btn.send-btn.send-btn:active i, .btn.send-btn.hover i {
    color: #fff;
}

.bl {
    border-left: 1px solid #616e90;
    min-height: 290px;
}

.footer .bi {
    /*  min-height: ; */
}

.copy-txt, .copy-txt a {
    font-size: 15px;
    color: #818ca9;
}

.copy-txt a:hover {
    color: #fff;
}

.f-social-links {
    padding: 0;
    text-align: right;
}

.f-social-links li {
    display: inline-block;
}

.secondary-footer {
    border-top: 1px solid #616e90;
    padding-top: 25px;
    padding-bottom: 0px;
}

.footer-menu, .abt-block, .contact-form {
    padding: 0 8%;
}

.contact-form .form-group {
    padding: 11px 0 0;
}

.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: block;
}

.owl-carousel .owl-nav {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
}

.owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
    font-size: 0;
    width: 40px;
    height: 40px;
    font-size: 0;
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
}

.owl-carousel .owl-nav .owl-prev {
    left: 0;
    background-image: url(../img/new-images/previous.png);
}

.owl-carousel .owl-nav .owl-next {
    right: 0;
    background-image: url(../img/new-images/next.png);
}

.owl-carousel.owl-loaded {
    position: relative;
}

.por {
    position: relative;
}

.owl-carousel .owl-item .cl-logo {
    display: block;
    text-align: center;
}

.client-sec .owl-carousel .owl-stage {
    padding: 20px 0
}

.client-sec .owl-carousel .owl-item .item {
    height: 470px;
    padding: 30px 20px;
}

.client-sec .owl-carousel .owl-item {
    padding: 0px 20px;
}

.owl-item .item:hover {
    -webkit-box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.08);
    -o-box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.08);
    background-color: rgb(255, 255, 255);
}

.owl-carousel .owl-item a img {
    width: auto;
    display: inline-block;
}

.owl-dots {
    text-align: center;
}

.owl-dot {
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px;
}

.owl-dot span {
    display: block;
    background-color: #dfdfdf;
    width: 10px;
    height: 10px;
    border-radius: 50px;
}

.owl-dot.active span {
    background-color: #acacac;
    width: 15px;
    height: 15px;
}

.tab-section .nav-tabs {
    position: relative;
    overflow: hidden;
}

.tab-section .nav-tabs:before {
    content: "";
    left: 0;
    width: 30px;
    height: 100%;
    background: #ffffff;
    top: 0;
    position: absolute;
    display: block;
}

.tab-section .nav-tabs:after {
    content: "";
    width: 30px;
    height: 142px;
    background: #ffffff;
    top: 0;
    position: absolute;
    display: block;
    right: 0;
}

.f-social-links a {
    background: transparent none repeat scroll 0 0;
    color: #ffffff;
    display: block;
    font-size: 18px;
    height: 35px;
    text-align: center;
    width: 35px;
}

.f-social-links a:hover, .f-social-links a:focus, .f-social-links a:active {
    background: transparent;
    opacity: 0.5;
}

.footer {
    position: relative;
    border: 0;
    margin-top: 0;
}

.scrollToTop {
    background: #6dcef5 none repeat scroll 0 0;
    display: block;
    height: 50px;
    position: absolute;
    right: 20px;
    bottom: 100px;
    width: 50px;
    border-radius: 50%;
    z-index: 999;
    text-align: center;
    line-height: 55px;
}

.scrollToTop i {
    color: #ffffff;
    font-size: 24px;
}

.footer-nav ul a:hover {
    color: #fff;
}

.tab-content ul li:last-child::before {
    display: none;
}

html, body {
    overflow-x: auto !important;
    min-height: inherit !important;
    height: auto !important;
}


/*.masthead {
    background: rgba(0, 0, 0, 0) url("../img/bg.jpg") no-repeat scroll center top !important;
    opacity: 0.5;
    min-height: inherit;
    margin-top: 0 !important;
}


}*/



/*.b-widgets {
    background: rgba(0, 0, 0, 0) url("../img/bg.jpg") no-repeat scroll center -3140px !important;
    background-position: center -1625px;
    opacity: 0.5;
    min-height: inherit;
    margin-top: 0 !important;
}*/


/*====================== 081817-CSS ====================*/


/* Effect 1 */

.hovicon.effect-1 {
    background: rgba(255, 255, 255, 0.1);
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}

.hovicon.effect-1:after {
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 2px #65cbf4;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
}


/* Effect 1a */


/* .hovicon.effect-1.sub-a:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.hovicon.effect-1.sub-a:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
} */

.hovicon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.inner-client-blk:hover .hovicon.effect-1:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.inner-client-blk:hover .hovicon.effect-1 {
    background: #65cbf4;
    color: #41ab6b;
}

/* .inner-client-blk i {
    transition: all .25s linear
}
 */
.inner-client-blk:hover .icon-circle-1 {
    background-position: -10px -1272px
}

.inner-client-blk:hover .icon-circle-2 {
    background-position: -10px -1448px;
}

.inner-client-blk:hover .icon-circle-3 {
    background-position: -10px -1638px
}

.inner-client-blk:hover .icon-circle-4 {
    background-position: -10px -1845px
}

.inner-client-blk:hover .icon-circle-5 {
    background-position: -10px -2038px
}

.inner-client-blk:hover .icon-circle-6 {
    background-position: -10px -2243px
}

/* .btn-list .btn.btn-default.primary-btn:hover {
    color: #fff;
    background: transparent !important;
}

.btn-list .btn.btn-default.secondary-btn:hover {
    color: #fff;
    background: #6dcef5 !important;
}
 */

/* Rectangle Out */

.hvr-rectangle-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background: #e1e1e1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-rectangle-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #6dcef5;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
    color: white;
}

.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}
button.btn.btn-default.primary-btn.hvr-rectangle-in {
    background: transparent;
}

/* Rectangle In */

.hvr-rectangle-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background: #2098d1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-rectangle-in:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #6dcef5;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-rectangle-in:hover, .hvr-rectangle-in:focus, .hvr-rectangle-in:active {
    color: white;
}


.hvr-rectangle-in:hover:before, .hvr-rectangle-in:focus:before, .hvr-rectangle-in:active:before {
    -webkit-transform: scale(0);
    transform: scale(0);
}

/**/
.header-wrapper.sticky .navbar{
    min-height: inherit
}
.header-wrapper.sticky .navbar-nav  {
    padding: 0
}
.atoz_seo_tools_logo.sm-logo{
    padding:5px 0 7px;
    height: 65px;
    max-height: inherit;
}
.header-wrapper .sm-logo{
    display: none;
}
.header-wrapper.sticky  .sm-logo{
    display: block; 
}
.header-wrapper.sticky .lg-logo{
    display: none;
}
.header-wrapper  .lg-logo{
    display: block;
}
.sticky .navbar-brand{
    margin:0 !important
}
.header-wrapper .navbar-right{
    margin-right:10px;
}
section.client-sec {
    padding-top: 50px;
}
.vertical-add {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.min_container{
    
}